.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}
.red{
    background-color: red;
}
.lightgreen{
    background-color: lightgreen;
}
.green{
    background-color: green;
}