.BookmarkListTitle{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
}
.BookmarkListBG{
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
}
.Bookmarkitem{
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    color: #111111;
}