* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* header and navigation style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.text-primary {
  color: #fd6e0a;
}
