.SpentTime{
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
}
.SpentTimeTitle{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */


    color: #6047EC;
}